<div class="wrapper about">
  <div class="inline-logo">
    <img src="<%= image_url('logo2.png') %>" />
  </div>

  <p>Promulgation.ninja allows you to create forms for your users to fill out.</p>

  <p>It stores submissions and allows you to review the responses you've recieved.</p>
</div>
