<div class="wrapper about">
  <div class="inline-logo">
    <img src="<%= image_url('logo2.png') %>" />
  </div>
  <p>Do you know what your customers think? Do you know their needs?</p>

  <p>Do you ever ponder their dreams or aspirations?</p>

  <p>Well wonder no more, now, with Promulgation.ninja you can have <strong><em>all the answers!</em></strong></p>

  <p><em>What is this magical tool</em> I hear you asking?</p>

  <p>Well, we've taken the power of a strange miniature ninja statuette we <del>palmed</del> <del>found</del> <em>discovered</em> <ins>unattended in a public space</ins> and captured its magic, concentrated, digitized, and made it safe for human consumption.</p>

  <p>This power can now be yours for the price low low of <del>your soul and</del> free<del>dom</del>!</p>

  <p>Just explain to this ninja what it is that you want to know, and he'll give you a form that'll find out!</p>

  <p>Then send the form on to someone who possesses the information that you want and they'll <del>be compelled</del> <ins>choose</ins> to answer your question <ins>willingly and without adverse side effect</ins>.</p>
</div>
