<form action="<%= session_url %>" method="POST" class="wrapper">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label>
    Name
    <input type="text"     name="user[name]"     autofocus />
  </label>

  <label>
    Password
    <input type="password" name="user[password]"           />
  </label>

  <input type="submit" value="Login" />
</form>
