<form action="<%= users_url %>" method="POST" class="wrapper">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

  <label>
    Name
    <input type="text"     name="user[name]"     autofocus />
  </label>

  <label>
    Email
    <input type="text"     name="user[email]"              />
  </label>

  <label>
    Password
    <input type="password" name="user[password]"           />
  </label>

  <label>
    Confirm Password
    <input type="password" name="user[password_confirmation]"   />
  </label>


  <input class="good-button" type="submit" />
</form>
