h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

header{
  background: #dbe2e8;
  color: #1d95e5;
}

//
//
//

body{
  background: whitesmoke; // url("cross_scratches.png");
}

//
//
//

div {
  margin: 0 auto;
  width: 800px;

  ul.add-field-index{
    background: lightgrey;
    float: left;
    width: 300px;

    li{
      background: lightblue;
      margin: 10px auto;
      padding: 10px;
      width: 200px;
    }
  }

  .fields{
    background: lightblue;
    float: left;
    padding: 10px;
    width: 480px;

    .fields{
    }

    li{
      input, textarea{
        display: block;
        margin: 10px 0;
        width: 480px;
      }

      textarea{
        height: 75px;
      }
    }
  }
}
