<%= model.escape("key") %>
<div class="displayfield">
  <% /* <input name="<%= model.escape('key') %>" type="<%= _.escape(model.get('value').type) %>" value="<%= _.escape(model.get('value').value) %>"/> */ %>
</div>
