<label>
  label:
  <input type="text" name="name" value="<%= model.escape('name') %>" autofocus />
</label>

<label>
  type:
    <input
      name="field_type"
      type="text"
      value="<%= model.escape('field_type') %>"
      readonly
    />
</label>

<label>
  default value:
  <input
    name="value"
    type="text"
    value="<%= model.escape('value') %>"
  />
</label>

<% if (model.hasChildren()) { %>
  <div class="field-children">
    <h3 class="heading">Choices</h3>
    <button class="large-button add-child">New Choice</button>
    <table class="children-table">
      <tbody>
      <% (model.fields().length ? model.fields() : _([{name: ''}])).each(function(field) { %>
        <tr>
          <td class="radio-wrapper">
            <input type="radio" name="default" class="radio" />
          </td>
          <td>
              <input
                type="text"
                name="name"
                value="<%= field.name %>"
                class="child-name"
              />
          </td>
          <td>
            <button class="delete small-button danger-button">Delete</button>
          </td>
        <tr>
      <% }) %>
      </tbody>
    </table>
  </div>
<% } %>


<button class="delete-button danger-button">Delete Field</button>
