<label>
  label:
  <input type="text" name="name" value="<%= model.escape('name') %>" autofocus />
</label>

<label>
  type:
    <input
      name="field_type"
      type="text"
      value="<%= model.escape('field_type') %>"
      readonly
    />
</label>

<% if (!model.hasChildren()) { %>
  <label>
    default value:
    <input
      name="value"
      type="text"
      value="<%= model.escape('value') %>"
    />
  </label>
<% } else { %>
  <div class="field-children">
    <div class="item-header clearfix">
      <h3 class="heading">Choices</h3>
      <button class="large-button add-child add-item">New Choice</button>
    </div>
    <ul class="children-table">
    </ul>
  </div>
<% } %>


<button class="delete-button danger-button">Delete Field</button>
