<label>
  label:
  <input type="text" name="key" value="<%= model.escape('key') %>" autofocus />
</label>

<label>
  type:
    <input
      name="value[type]"
      type="text"
      value="<%= _.escape(model.get('value').type) %>"
    />
</label>

<label>
  default value:
  <input
    name="value[value]"
    type="text"
    value="<%= _.escape(model.get('value').value) %>"
  />
</label>

<button class="delete-button red-button">Delete Field</button>
