<div class="radio-wrapper column checkbox-column">
  <input
    type="radio"
    name="value"
    value="true"
    class="radio"
    <%= model.get('value') ? 'checked' : '' %>
  />
</div>
<div class="column name-column">
    <input
      type="text"
      name="name"
      value="<%= model.escape('name') %>"
      class="child-name"
      autofocus
    />
</div>
<div class="column action-column">
  <button class="delete small-button danger-button">Delete</button>
</div>
