<label>
  Name:
  <input type="text" name="title" value="<%= model.escape('title') %>" autofocus />
</label>

<% if (model.get('slug')) {%>
  <ul class="slug-links">
    <li><a href="/<%= model.get('slug') %>" class="view-form" target="_blank">View Form</a></li>
    <li><a href="#/<%= model.get('slug') %>/submissions">Submissions</a></li>
  </ul>
<% } %>

<div class="bottom-section">
  <button class="right-button promulgate" title="Make this version of this form publically accessible">Promulgate!</button>
</div>
