<div class="root">Loading...</div>

<script type="text/javascript">
  $(function(){
    Promulgation.initialize();

    <% if @form %>
    Promulgation.router.formShow(<%= @form.id %>);
    <% end %>
  });
</script>
