<div class="root">Loading...</div>

<script type="text/javascript">
  $(function(){
    Promulgation.initialize();

    <% if @form %>
      Promulgation.router.formShow(<%= @form.id %>);
      Promulgation.router.trigger('route', 'formShow', [<%= @form.slug %>, null]);
    <% end %>
  });
</script>
