@import 'clearfix';

h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

a{
  text-decoration: none;

  &:active{
    color: #FF00E3;
  }
}

//
//
//

.floatleft{ float: left; }

.none{ display: none !important; }

//
//
//


$content_width: 960px;
$modal_width: $content_width*0.75;
$goodgrey: #EBEBEB;

//
// common elements
//

.item-header{
  .add-item{
    border: 1px solid #ccc;
    float: right;
  }

  .heading{
    float: left;
    padding: 10px;
  }
}

//
// Header
//

header{
  background: black;
  color: #1d95e5;

  .header-content{
    margin: 0 auto;
    width: $content_width;

    .logo{
      background: image-url('logo3.png') left no-repeat;
      float: left;
      height: 61px;
      width: 400px;
    }

    .navbar-right-links{
      float: right;
      margin-top: 23px;

      li{
        float: left;

        a, input{
          background: transparent;
          display: block;
          color: blue;
          font-family: 'arial';
          font-size: 16px;
          padding: 10px;

          &:hover{
            box-shadow: none;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

//
// Navbar
//

.navbar-center-links{
  background: $goodgrey;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  @extend .clearfix;
  margin-bottom: 10px;
  padding: 0 10px;

  li{
    float: left;

    &:not(:first-child):before{
      content: "/";
    }
    a{
      // background: #EBEBEB;
      display: inline-block;
      padding: 10px;

      &:hover{
        // background: linear-gradient(whitesmoke, #EBEBEB);
        text-decoration: underline;
      }
    }
  }
}
//
// Footer
//

.footer{
  @extend .clearfix;
  margin: 0 auto;
  padding: 50px 0 50px 0;
  width: $content_width;

  li{
    float: left;
    font-size: 12px;
    padding-right: 167px;

    &:last-child{
      padding-right: 0;
    }
    a{
      color: grey;

      &:hover{
        text-decoration: underline;
      }
    }

  }
}

//
//
//

body{
  background: whitesmoke image-url("stacked_circles.png");
}

//
//
//

.content{
  background: whitesmoke;
  border: 1px solid black;
  border-top: 0;
  padding: 10px 10px 0 10px;
  margin: 0 auto;
  width: $content_width;

  h2{
    margin-bottom: 10px;
  }
  .form-index{
    border-top: 1px solid #BCBCBC;
    margin-left: -10px;
    width: $content_width + 20px;

    a:hover{
      text-decoration: underline;
    }
    tr td:first-child{
      padding-left: 10px;

      a{
        display: block;
      }
    }
    tr td:last-child{
      width: 174px;
    }
    tr:nth-child(2n){
      background: #ECECEC;
    }
    td{
      padding: 5px;
    }
    tr:last-child td{
      padding-bottom: 10px;
    }
  }
  tfoot, thead{
    background: #E1E1E1;
    button{
      float: right;
    }
  }
  .wrapper{
    margin: 0 auto;
    width: $content_width/2;
  }
  input{
    box-sizing: content-box;
    height: 24px;
    margin: 10px auto;
    width: $content_width/2 - 20px;
  }
  input[type="submit"], button{
    height: inherit;
  }
}

.form-edit-sidebar{
  float: left;
  position: relative;
  width: $content_width/2 - 10 - 2;
  z-index: 1;

  .tabs .tab{
    float: left;
    background: $goodgrey;//#DFE6EC;
    border: 1px solid #808080;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    padding: 10px 5px 5px 5px;
    margin-right: 10px;

    &:hover{
      background: linear-gradient($goodgrey, whitesmoke);
    }
    &.active{
      background: white;
      padding-bottom: 6px;
      margin-bottom: -1px;
    }
  }

  .tabular-content {
    background: white;
    border: 1px solid #808080;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 500px;

    $tabular_width: $content_width/2 - 10 - 10px - 30 - 2px;

    .add-field-index li{
      // background: lightblue;
      // border-radius: 3px;
      display: block;
      float: left;
      // margin: 10px 0;
      // padding: 5px 5px;
      width: floor($tabular_width/2) - 1 - 20;

      &:first-child{
        margin-top: 0;
      }

      &.potential-item-button{
        background: $goodgrey; //#E0E7ED;
        // background: #CBDCE9;
        border-radius: 3px;
        color: #323232;
        display: block;
        font-size: 16px;

        border: 0;
        cursor: pointer;
        padding: 10px;
        margin: 5px 5px;

        text-align: center;

        text-transform: capitalize;

        &:hover{
          box-shadow: 1px 1px 1px #d9d9d9;
        }
        &:active{
          box-shadow: 0 0 20px #FFB5B5;
        }
      }
    }

    input{
      width: $tabular_width + 10 - 10;
    }

    //
    // field properties
    //

    .field_type{
      border: 1px solid $goodgrey;
      margin: 10px 0;
      padding: 10px;
    }

    .field-children{
      background: whitesmoke;
      border: 1px solid #DFDFDF;
      border-radius: 3px;
      margin-bottom: 10px;

      .heading{
        float: left;
        padding: 16px 10px 10px 10px;
      }
      .radio-wrapper{
        vertical-align: middle;
      }
      .radio{
        width: auto;
      }
      .child-name{
        width: 308px;
      }
      .add-child{
        margin: 10px;
      }
      .children-table{
        overflow: hidden;
        width: 100%;

        li{
          @extend .clearfix;
        }
        .column{
          float: left;
          padding: 10px 0 10px 10px;
        }
        .name-column input{
          margin: 1px 0 0 0;
        }
      }
    }

    .advanced-settings{
      background: whitesmoke;
      border: 1px solid #DFDFDF;
      border-radius: 3px;
      margin-bottom: 10px;
      margin-top: 10px;

      label{
        display: block;
        padding-left: 10px;
      }
      input{
        width: $tabular_width + 10 - 10 + 2 - 10;
      }
      .toggle-advanced-settings{
        display: block;
        padding: 10px;
        text-align: center;
      }
    }
  }
}

.form-edit-actuals{
  background: whitesmoke;
  float: left;
  position: relative;
  width: $content_width/2 + 9;
  z-index: 2;

  h1{
    margin-top: -1px;
    padding-left: 10px;
  }
  .fields{
    height: 500px;
    margin-top: 3px;
    overflow-y: scroll;
    padding-top: 10px;

    .drop-placeholder{
      background: whitesmoke image-url('drop_placeholder.png');
      box-shadow: 0 0 0 1px #66B15C inset;
    }
  }
}

.form-edit-actual-item{
  cursor: pointer;
  position: relative;

  &:before{
    content: "";
    margin-left: -20px;
    position: absolute;
    transition: margin-left 0.2s, opacity 0.2s;

    border-bottom: 10px solid transparent;
    border-left  : 10px solid #808080;
    border-top   : 10px solid transparent;

    margin-top: -2px;

    opacity: 0;
  }
}

.form-edit-actual-item.properties-open.ui-sortable-helper:before{
  visibility: hidden;
}

.form-edit-actual-item.properties-open{
  transition: 0.8s background-color;
  background-color: #EFEFEF !important;

  &:before{
    margin-left: -11px;

    opacity: 1;
  }
}

html .ui-draggable-dragging{
  cursor: move;
}

html body div li.form-edit-actual-item{
  background: whitesmoke !important;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px !important;
  width: $content_width/2 - 6 - 20px !important;

  input, textarea, select{
    width: $content_width/2 - 10 - 10 - 20px !important;
  }
  .displayfield{
    position: relative;

    &:before{
      border: 1px solid transparent;
      content: "";
      height: 30px;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  &.dragging{
    // padding-top: 10px !important;
    // margin-top: -10px !important;
  }
}

input[type="submit"], button, .large-button{
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 10px;

  //
  //
  //

  background: $goodgrey;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #323232;
  font-size: 16px;

  border: 0;
  cursor: pointer;
  padding: 10px;

  text-align: center;

  text-transform: capitalize;

  &.danger-button{
    // background: red;
    color: red;
    border: 1px solid hsla(0, 0%, 0%, 0.2);

    // &:hover{
      // background: linear-gradient(#fab, red);
    // }

    &:hover{
      background: #E50000;
      border-color: red;
      box-shadow: 0 0 10px pink;
      color: white;
    }
    &:active{
      box-shadow: 0 0 20px #FFB5B5;
    }
  }

  &:hover{
    box-shadow: 1px 1px 1px #d9d9d9;
  }
  &:active{
    box-shadow: 0 0 20px #FFB5B5;
  }
}

input[type="text"], input[type="password"]{
  padding: 5px;
}

.small-button{
  font-size: 16px;
  padding: 10px;
}

.modal-wrapper{
  background: hsla(0, 0%, 0%, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  .modal{
    background: whitesmoke;
    display: block;
    height: 300px;
    left: 50%;
    position: absolute;
    margin: -150px 0 0 -250px;
    top: 50%;
    width: $modal_width;

    p{}

    h3{
      text-align: center;
      margin-bottom: 30px;
    }

    .bottomness{
      bottom: 10px;
      margin-left: 10px;
      position: absolute;
      width: $modal_width - 20;
    }

    table td{
      padding: 10px;
    }

    input, button{
      margin-bottom: 10px;
      width: $modal_width - 20;
    }

    input[type="submit"], button{
      float: right;
      width: 160px;

      &.left{
        background: lightgrey;
        float: left;
      }
    }
  }
}
