h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

a{
  text-decoration: none;
}

$content_width: 960px;
$modal_width: $content_width*0.75;

//
//
//


header{
  background: black;
  color: #1d95e5;

  .header-content{
    margin: 0 auto;
    width: $content_width;

    .logo{
      background: image-url('logo2.png') left no-repeat;
      float: left;
      height: 101px;
      width: 400px;
    }

    .navbar-center-links{
      float: left;
      // margin-top: 63px;

      li{
        float: left;
        padding: 10px;
      }
    }

    .navbar-right-links{
      float: right;
      margin-top: 63px;

      li{
        float: left;

        a, input{
          background: transparent;
          display: block;
          color: blue;
          font-size: 16px;
          padding: 10px;
        }
      }
    }
  }
}

//
//
//

body{
  background: whitesmoke image-url("stacked_circles.png");
}

//
//
//

.content{
  background: whitesmoke;
  border: 1px solid black;
  border-top: 0;
  padding: 10px 10px 0 10px;
  margin: 0 auto;
  width: $content_width;

  h2{
    margin-bottom: 10px;
  }

  .form-index{
    margin-left: -10px;
    width: $content_width + 20px;

    .small-button:hover{
      box-shadow: 0 0 1px blue inset;
    }
    tr td:first-child{
      padding-left: 10px;

      a{
        display: block;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    tr td:last-child{
      width: 173px;
    }
    tr:nth-child(2n){
      background: #ECECEC;
    }
    td{
      padding: 5px;
    }
    tr:last-child td{
      padding-bottom: 10px;
    }
  }

  tfoot, thead{
    background: #E1E1E1;
    button{
      float: right;
    }
  }

  .wrapper{
    margin: 0 auto;
    width: $content_width/2;
  }

  input{
    height: 24px;
    margin: 10px auto;
    width: $content_width/2;
  }

  input[type="submit"], button{
    height: inherit;
  }
}

.form-edit-sidebar{
  float: left;
  width: $content_width/2 - 10 - 2;

  .tabs .tab{
    float: left;
    background: #fab;
    border: 1px solid green;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    padding: 10px 5px 5px 5px;
    margin-right: 10px;

    &.active{
      background: white;
      padding-bottom: 6px;
      margin-bottom: -1px;
    }
  }

  .tabular-content {
    background: white;
    border: 1px solid green;
    padding: 10px;

    $tabular_width: $content_width/2 - 10 - 10px - 30 - 2px;

    li{
      background: lightblue;
      border-radius: 3px;
      display: block;
      margin: 10px 0;
      padding: 10px;
      width: $tabular_width;

      &:first-child{
        margin-top: 0;
      }
    }

    input{
      width: $tabular_width + 10 - 10;
    }
  }
}

.form-edit-actuals{
  background: whitesmoke;
  float: left;
  width: $content_width/2 + 9;

  .fields{
    background: #fab;
    height: 400px;
    overflow-y: scroll;
    position:relative;
  }
}

html body div li.form-edit-actual-item{
  background: whitesmoke !important;
  cursor: pointer;
  padding: 0 10px !important;
  width: $content_width/2 - 6 - 20px !important;

  input, textarea{
    width: $content_width/2 - 10 - 10 - 20px !important;
  }
  .displayfield{
    position: relative;

    &:before{
      border: 1px solid transparent;
      content: "";
      height: 30px;
      position: absolute;
      top: 10px;
      width: 100%;
    }
  }
  &.dragging{
    // padding-top: 10px !important;
    // margin-top: -10px !important;
  }
}

input[type="submit"], button, .large-button{
  background: #fab;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  // height: inherit;
  padding: 10px;
}

input[type="text"], input[type="password"]{
  padding: 5px;
}

.small-button{
  font-size: 16px;
  padding: 10px;
}

.modal-wrapper{
  background: hsla(0, 0%, 0%, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  .modal{
    background: whitesmoke;
    display: block;
    height: 300px;
    left: 50%;
    position: absolute;
    margin: -150px 0 0 -250px;
    top: 50%;
    width: $modal_width;

    p{}

    h3{
      text-align: center;
      margin-bottom: 30px;
    }

    .bottomness{
      bottom: 10px;
      margin-left: 10px;
      position: absolute;
      width: $modal_width - 20;
    }

    table td{
      padding: 10px;
    }

    input, button{
      margin-bottom: 10px;
      width: $modal_width - 20;
    }

    input[type="submit"], button{
      float: right;
      width: 160px;

      &.left{
        background: lightgrey;
        float: left;
      }
    }
  }
}
