h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}

header{
  background: black;
  color: #1d95e5;

  div{
    margin: 0 auto;
    width: 800px;

    .logo{
      background: url('logo2.png') left no-repeat;
      float: left;
      height: 101px;
      width: 400px;
    }

    .navbar-links{
      float: right;
      margin-top: 63px;
      li{
        float: left;
      }
    }
  }
}

//
//
//

body{
  background: whitesmoke url("stacked_circles.png");
}

//
//
//

.content{
  background: whitesmoke;
  border: 1px solid black;
  padding: 10px;
  margin: 0 auto;
  width: 800px;

  h2{
    margin-bottom: 10px;
  }

  .form-index{
    margin-left: -10px;
    width: 820px;

    tr td:first-child{
      padding-left: 10px;
    }
    tr td:last-child{
      padding-right: 10px;
    }

    td{
      padding: 5px;
    }
  }

  tfoot, thead{
    background: #E1E1E1;
    button{
      float: right;
    }
  }

  .wrapper{
    margin: 0 auto;
    width: 500px;
  }

  input{
    height: 24px;
    margin: 10px auto;
    width: 500px;
  }

  input[type="submit"], button{
    height: inherit;
  }
}

.form-edit-sidebar{
  float: left;
  width: 390px;

  .tabs li{
    float: left;
    background: #fab;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 5px 5px 5px;
    margin-right: 10px;

    &.active{
      background: green;
    }
  }

  .tabular-content {
    background: green;
    padding: 10px;

    li{
      background: lightblue;
      border-radius: 3px;
      display: block;
      margin: 10px 0;
      padding: 10px;
      width: 390 - 10px - 30px;

      &:first-child{
        margin-top: 0;

      }
    }
  }
}

.form-edit-actuals{
  background: whitesmoke;
  float: left;
  width: 390px;
}

html body div li.form-edit-actual-item{
  background: whitesmoke !important;
  padding: 0 10px !important;
  width: 394px !important;

  input, textarea{
    width: 390px !important;
  }

  &.dragging{
    // padding-top: 10px !important;
    // margin-top: -10px !important;
  }
}

input[type="submit"], button{
  background: #fab;
  border: 0;
  font-size: 24px;
  // height: inherit;
  padding: 10px;
}

.modal-wrapper{
  background: hsla(0, 0%, 0%, 0.3);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  .modal{
    background: whitesmoke;
    display: block;
    height: 300px;
    left: 50%;
    position: absolute;
    margin: -150px 0 0 -250px;
    top: 50%;
    width: 500px;

    p{}

    h3{
      text-align: center;
      margin-bottom: 30px;
    }

    .bottomness{
      bottom: 10px;
      margin-left: 10px;
      position: absolute;
      width: 480px;
    }

    table td{
      padding: 10px;
    }

    input, button{
      margin-bottom: 10px;
      width: 480px;
    }

    input[type="submit"], button{
      float: right;
      width: 160px;

      &.left{
        background: lightgrey;
        float: left;
      }
    }
  }
}
