<td>
  <a class="small-button" href="#/forms/<%= form.escape("id") %>/edit"><%= form.escape("title") %></a>
</td>
<td>
<td class="actions">
  <button class="delete small-button">Delete</button>
  <a class="small-button" href="#/forms/<%= form.escape("id") %>/submissions">Submissions</a>
</td>
