<% submissionFields.forEach(function(field) { %>
  <td>
    <a class="show-modal" href="#/submissions/<%= model.get('id') %>/">
      <%= field.escape("value") %>
    </a>
  </td>
<% }); %>
<td class="actions">
  <button class="delete small-button danger-button">Delete</button>
</td>
