<% submissionFields.forEach(function(field) { %>
  <td>
    <% if (field) { %>
    <a class="show-modal" href="#/submissions/<%= model.get('id') %>/">
      <%= snip(field.escape("value")) %>
    </a>
    <% } %>
  </td>
<% }); %>
<td class="actions">
  <button class="delete small-button danger-button">Delete</button>
</td>
