<% submissionFields.forEach(function(field, index) { %>
  <td>
    <% if (field) { %>
    <a
      class="show-modal"
      href="#/submissions/<%= model.get('id') %>/"
      data-column-number="<%= index %>"
    >
      <%= snip(field.escape("value")) %>
    </a>
    <% } %>
  </td>
<% }); %>
<td class="actions">
  <button class="delete small-button danger-button">Delete</button>
</td>
